@import "colors";
@import "typography";
@import "structure";
@import "columns";

// Easing variables
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-out-slow: cubic-bezier(0, 1, 0, 1);

$shadow: 0 23px 10px -20px rgba(0, 0, 0, 0.2), 0 10px 30px rgba(0, 0, 0, 0.1);
$shadow-hover: 0 10px 5px -10px rgba(0, 0, 0, 0.2), 0 7px 10px rgba(0, 0, 0, 0.1);