

// Style for the header ***********************************************************

.site-header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1;
}

// global styles for every page
.site-main {
  transform-origin: 50% 200%;
  perspective: 700px;
  transform-style: preserve-3d;
  perspective-origin: 50% -100%;
  max-width: 1400px;
  margin: 0 auto;
}

#masthead {
  background-color: rgba(0, 0, 0, 0);
  transition: transform 0.3s $ease-out-quart, background-color 0.5s linear;
  &:after {
    content: "";
    display: block;
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0 5px 30px $color__brand_teal;
    opacity: 0;
    transition: opacity 0.5s linear;
  }
  &.shrink {
    transition: transform 0.8s $ease-out-quart, background-color 0.5s linear;
    @media screen and (min-width: 700px) {
      background-color: $color__brand_turquoise;
      transform: translateY(-50px);
      &:after {
        opacity: 0.4;
      }
    }
  }
}

.diamond {
  width: 15px;
  height: 15px;
  background-color: $color__brand_orange;
  display: block;
  margin: 0 auto;
  transform: rotate(45deg);
}

// styles for the home page **********************************************************

.hero-section {
  position: relative;
  min-height: 100vh;
  perspective: 100px;
  transform-style: preserve-3d;
  overflow: hidden;
  will-change: perspective-origin;
  .brand-mark {
    display: block;
    position: relative;
    z-index: 10;
    margin: 0 auto 20px;
    width: 600px;
    max-width: 80vw;
    transform: translateZ(-10000px) scale(101) translateY(-3vh);
    @supports (-moz-appearance:none) {
      transform: translateZ(0) scale(1) translateY(40vh);
    }
  }
}
.background {
  background-image: url('images/sky.svg');
  transform: translateZ(-1000000px) scale(10001);
  z-index: 0;
}
.layer-06 {
  background-image: url('images/layer-06.svg');
  transform: translateZ(-1200px) scale(13);
}
.layer-05 {
  background-image: url('images/layer-05.svg');
  transform: translateZ(-1000px) scale(11);
}
.layer-04 {
  background-image: url('images/layer-04.svg');
  transform: translateZ(-400px) scale(5);
}
.layer-03 {
  background-image: url('images/layer-03.svg');
  transform: translateZ(-100px) scale(2);
}
.layer-02 {
  background-image: url('images/layer-02.svg');
  transform: translateZ(-50px) scale(1.5);
}
.layer-01 {
  background-image: url('images/layer-01.svg');
}
.hero-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
  @supports (-moz-appearance:none) {
    transform: translateZ(0) scale(1);
    background-position: 50% 50%;
  }
}
// mobile styles for hero
@media screen and (max-width: 600px) {
  .hero-section {
    min-height: 80vh;
    .brand-mark {
      transform: translateZ(-10000px) scale(101) translateY(-10vh);
    }
  }
  .hero-layer:not(.background) {
    background-size: contain;
    background-position: 50% 100%;
    background-repeat: no-repeat;
  }
}
#leaves {
  position: absolute;
  bottom: 0;
  left: -0;
  width: 100%;
  height: auto;
}




.about-section {
  padding: 10rem 1rem;
  display: flex;
  flex-direction: column;
  h2 {
    margin-bottom: 1rem;
  }
  p {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  .diamond {
    margin: 2rem auto;
  }
}

.details-section {
  padding: 10rem 1rem;
  display: flex;
  background-color: $color__brand_orange;
  background-image: url("images/the-bird.jpg");
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  @media (hover: none) {
    background-attachment: scroll;
  }
}
.details-info-wrap {
  margin: auto;
  background-color: white;
  padding: 2rem 2rem 1rem;
  box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.5), 0 20px 40px rgba(0, 0, 0, 0.5);
  text-align: center;
  h2 {
    margin: 0.5rem 0.5rem;
  }
  h3 {
    font-size: 1.8rem;
    margin: 0;
  }
  .diamond {
    margin-bottom: 1rem;
  }
}

.graduates-section {
  padding: 5rem 1rem;
}

.graduates-grid-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.graduate-block-wrap {
  max-width: 100%;
  flex: 1 0 400px;
  position: relative;
  overflow: hidden;
  // background-color: $color__brand_teal;
  // &:nth-child(even) {
  //   background-color: $color__brand_turquoise;
  // }
  a {
    display: block;
  }
  img {
    transition: transform 0.5s $ease-out-quart;
    transform-origin: 50% 20%;
    // mix-blend-mode: overlay;
  }
  .graduate-info-wrap {
    position: absolute;
    background-color: $color__brand_turquoise;
    color: white;
    bottom: 0;
    width: 100%;
  }
  .graduate-name {
    font-size: 1.8rem;
    text-align: center;
    margin: 10px 0 0;
  }
  .skills-list {
    justify-content: center;
    padding: 0 0.8rem 0.8rem;
  }
  .skills-list-item {
    margin: 0 0.5rem;
    text-transform: uppercase;
    font-style: italic;
  }
  &:hover {
    img {
      transition: transform 5s $ease-out-quart;
      transform: scale(1.1);
    }
  }
}

.skills-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.skills-list-item {
  margin-right: 0.5rem;
}

.sponsors-section {
  border: 1px solid red;
  padding: 5rem 1rem;
}

.contact-section {
  border: 1px solid red;
  padding: 5rem 1rem;
}




// styles for the graduate profile pages ****************************************************
.graduate-profile-top-section {
  // padding: 2rem 4rem 2rem 400px;
  margin-top: 150px;
}
.profile-title-wrap {
  padding: 1rem 4rem 2rem 490px;
  max-width: 1000px;
  background-color: $color__brand_orange;
  color: white;
  .graduate-name {
    margin: 1rem 0 0;
  }
}

.graduate-profile-bottom-section {
  padding: 0 1rem 1rem 0;
  display: flex;
  width: 100%;
}
.profile-img-wrap {
  margin: -100px 40px 0 50px;
  height: 400px;
  width: 400px;
  flex: 0 0 400px;
  box-shadow: 0 40px 30px -30px rgba(0, 0, 0, 0.2), 0 20px 30px -5px rgba(0, 0, 0, 0.1);
  img {
    height: 100%;
  }
}
.graduate-profile-bio-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 560px;
  a {
    margin-top: auto;
    margin-right: auto;
    flex: none;
  }
}

a.portfolio-link {
  color: $color__brand_turquoise;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 4px solid $color__brand_turquoise;
  padding: 0.5rem 0.8rem;
}

.featured-projects-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5rem 0;
}

.project-preview-wrap {
  // flex: 0 0 30%;
  width: calc(33% - 10px);
  position: relative;
  h3 {
    position: absolute;
    bottom: 0.5rem;
    text-align: center;
    width: 100%;
  }
}

// next and prev post nav
.post-nav {
  display: flex;
  width: 100%;
  position: relative;
  height: 150px;
  padding: 20px;
  margin-top: 60px;
  justify-content: space-between;
  align-items: flex-end;
  .nav-thumbnail-text {
    z-index: 1;
  }
  h3 {
    margin: 0 0 10px;
  }
}
.nav-thumbnail-img-wrap {
  margin: 0 10px;
  max-width: 150px;
  position: relative;
  img {
    transform: scale(0.8);
    // opacity: 0;
    transition: opacity 0.3s linear 0.1s, transform 0.4s $ease-in-quart;
  }
  // &:before {
  //   content: "";
  //   position: absolute;
  //   display: block;
  //   height: 100px;
  //   width: 80px;
  //   @media screen and (max-width: 640px) {
  //     height: 80px;
  //     width: 40px;
  //   }
  //   box-shadow: 10px 15px 30px -5px hsla(0, 0, 0, 0.2);
  //   top: -10%;
  //   z-index: 0;
  //   .prev-post-link & {
  //     left: -30px;
  //     background-color: $color__brand_teal;
  //   }
  //   .next-post-link & {
  //     right: -30px;
  //     background-color: $color__brand_teal;
  //   }
  // }
}

.prev-post-link, .next-post-link {
  flex: 0 1 auto;
  display: flex;
  max-height: 100%;
  max-width: 250px;
  @media screen and (max-width: 640px) {
    max-width: 150px;
  }
  justify-content: center;
  &:hover img {
    transition: opacity 0.3s linear, transform 0.5s $ease-out-quart;
    opacity: 1;
    transform: scale(1);
  }
  span {
    font-weight: 600;
    font-style: italic;
    font-size: 1em;
    transition: opacity 0.3s linear, transform 0.5s $ease-out-quart;
  }
}

.prev-post-link {
  text-align: right;
  img {
    transform-origin: left top;
    max-height: 120px;
  }
}

.next-post-link {
  margin-left: auto;
  img {
    transform-origin: right top;
    max-height: 120px;
  }
}